*{
  font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
}
body{
  text-align: center;
  background-color: #f3e5f1;
}
  
  .bg-primary-color{
    background-color: #ebd8f0;
  }
  .bg-secondary-color{
    background-color: #b286be;
  }
  .bg-dark-color{
    background-color: #87299e;
  }
  .primary-color{
    color: #1d0224;
  }
  
  .secondary-color{
    color: #cc8fdd;
  }
  
  #navbar{
    border-bottom: 1px solid #e6dde9;
  }
  #navbar a:hover{
    color:#b232da;
  }
  
  #navbar a.active{
  border-bottom:1px solid #1e0225;
  }
  
  .navbar-brand{
    display: flex;
  }
  .navbar-brand img{
   width: 40px;
  }
  
  .navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
  }
  
  
  #navbar-items .navbar-nav { 
    display: flex;
    justify-content: end;
    width: 100%;
  
  }
  
  #navbar-items .nav-item{
    margin: 0 1em;
  }

  .perfil > h1{
    color: #180113;
    padding: 15px;
    margin-top: 6rem;
   
    
}
.perfil > p{
    padding: 10px;
    
}
.perfil > img{
    width: 300px;
    border-radius: 10%;
    transition: 0.5s;
}

.sobre{
    background-color: #e4c1df;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.sobre >h2{
color: #24041c;
padding: 10px;
font-size: 1.25em;
}

.detalhe  {
    color: #180113;
    padding: 10px;
    font-size: 1.25em;

}
.detalhe>h2{
    color: #24041c;
    padding: 10px;
    font-size: 1.25em;  
}
.negrito{
    font: weight 700;
}

.p{
    color: #1f0218;
    padding: 10px;
}
.btn-social button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color:#9a229e ;
  font-size: 22px;
  cursor: pointer;
  margin: 0px 5px;
}
.btn-social :hover{
box-shadow: 0px 0px 8px #4e053e3f;
transform: scale(1.05);
}

  #footer{
    padding: 3em 2em;
  }

  #footer-top{
    margin-bottom: 2em;
  }

#footer-top,
#footer-top i{
  color: #fff;
}

#social-icons{
  text-align: right;
}


#social_icons i{
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;

}

#social-icons i:hover{
  color: #b286be;
}

#footer-details{
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container{
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}
#footer-details h4{
  color: #1d0224;
  margin-bottom: 1.5em;
}

#news-container input{
  border-radius: 0;
  border: none;
}

#links-container li{
  margin-bottom: 0.5em;
}

#links-container a{
  text-decoration: none;
}


#links-container a:hover{
  color: #fff;
}
#footer-bottom{
  border-top:1px solid #e6dde9;
  padding-top: 2em;
}
#footer-bottom i{
  color: #1e0225;
  margin-left: 0.3em;
}
@media(min-widht:768px){
  #news-container{
    padding-right: 2em;
  }
}

#links-container{
  padding-left: 2em;
}
#contact-container{
  padding: 0 2em;
  border-left: 1px solid#e6dde9;
  border-right: 1px solid#e6dde9;
}  